#lrgecontentview{
    display: grid;
    grid-template-columns: 180px 0fr;
}
#largethumbnail{
    width: 180px;
    height: 180px;
}
#minithumbnail{
    width: 100px;
    height: 100px;
}
.contents{
    margin-left: 10px;
  }
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  .discription{
    font-size: 14px;
    color: #777777;
  }
  .allign{
    margin: 0 auto;
  }